@model WebGallery.UI.ViewModels.StatsInfoCardViewModel

<div class="stats-card" data-aos="fade-up">
    <h4>@Model.Header</h4>
    @foreach (var infoItem in Model.InfoItems)
    {
        <p>@infoItem</p>
    }
</div>