@using Microsoft.Extensions.Configuration

@model WebGallery.UI.ViewModels.HomeViewModel

@inject IConfiguration Configuration

@{
    string baseUrl = $"{Configuration.GetValue("ConnectionStrings:ApiEndpoint", "")}/pictures";
}

<div class="site-wrap">

    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header class="header-bar d-flex d-lg-block align-items-center" data-aos="fade-left">
        <div class="site-logo">
            <a href="index.html">Shutter</a>
        </div>

        <div class="d-inline-block d-xl-none ml-md-0 ml-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

        <div class="main-menu">
            <ul class="js-clone-nav">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="photos.html">Photos</a></li>
            </ul>
            <ul class="social js-clone-nav">
                <li><a href="#"><span class="icon-facebook"></span></a></li>
                <li><a href="#"><span class="icon-twitter"></span></a></li>
                <li><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
        </div>
    </header>
    <main class="main-content">
        <div class="container-fluid photos">
            <div class="row align-items-stretch">
                @*
                    Each image row has a witdh of "12", meaning col-lg-x must add up to 12 to fit it on one row

                     data-aos="fade-up" data-aos-delay="100" provides an animation while loading the picture
                *@
                @foreach (var gallery in Model.Galleries)
                {
                    int offset = gallery.CoverImageIndex - 1;
                    string popUpDelayAtr = gallery.PopUpDelay == 0 ? "" : $"data-aos-delay={gallery.PopUpDelay}";
                    string coverImageUrl = $"{baseUrl}/{gallery.Id}/{gallery.CoverImageIndex}";

                    <div class="col-6 col-md-6 col-lg-@gallery.LargeScreenSize" data-aos="fade-up" @popUpDelayAtr>
                        <a href="/Single/@(gallery.Id + "?offset=" + offset)" class="d-block photo-item">
                            <img src="@coverImageUrl" alt="Image" class="img-fluid">
                            <div class="photo-text-more">
                                <div class="photo-text-more">
                                    <h3 class="heading">Photos Title Here</h3>
                                    <span class="meta">42 Photos</span>
                                </div>
                            </div>
                        </a>
                    </div>
                }


            </div>

            <div class="row justify-content-center">
                <div class="col-md-12 text-center py-5">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </main>

</div> <!-- .site-wrap -->