@model WebGallery.UI.ViewModels.PictureViewModel

<div>
    <img src="@Model.URL" class="img-fluid img-fluid-override" alt="Responsive image" onclick="showOverlay()">
</div>

<div id="thumbnail-gallery-row">
    @foreach (var thumbnail in Model.SubPics)
    {
        <a href='/Picture/@thumbnail.Id' class="img-thumbnail-override">
            <img src="@thumbnail.URL" class='img-thumbnail img-thumbnail-override' />
        </a>
    }
    </div>


<!-- The overlay -->
<div id="myNav1" class="overlay">
    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeOverlay()">&times;</a>
    <span class="helper"></span>
    <img id="myImage" src="@Model.URL" onclick="doSwitch_static(@Model.Id)">
</div>