@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model WebGallery.UI.ViewModels.Customizer.CustomizerViewModel;

        <div class="customizer-form">
            <h2>Gallery Customizer</h2>
            <form asp-controller="Customizer" asp-action="Generate">
                <div class="row">
                    <div class="form-element col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Set number of pics:</label>
                            </div>
                            <div class="col-md-10">
                                <div my-slider></div>
                            </div>
                            <div class="col-md-2">
                                <input asp-for="NumberOfPictures" class="form-control" type="number" value="12" data-number-pics />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-element col-md-8">
                        <label>Tag mode:</label>
                        <br />
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="RadioTagmodeOption" id="inlineRadioDefault" value="default" checked="checked">
                            <label class="form-check-label" for="inlineRadioDefault">Default</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="RadioTagmodeOption" id="inlineRadioOnlyTagged" value="onlytagged">
                            <label class="form-check-label" for="inlineRadioOnlyTagged">Only tagged</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="RadioTagmodeOption" id="inlineRadioUntagged" value="untagged">
                            <label class="form-check-label" for="inlineRadioUntagged">Untagged</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="RadioTagmodeOption" id="inlineRadioCustom" value="custom">
                            <label class="form-check-label" for="inlineRadioCustom">Custom</label>
                        </div>
                    </div>
                </div>

                <div data-tag-manager style="display: none;">
                    <div class="row">
                        <div class="form-group col-md-8">

                            <select data-select-tags asp-for="SelectedTags" asp-items="@(new SelectList(Model.Tags, "Name", "Name"))" multiple="multiple" style="width: 100%"></select>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="RadioTagFilterOption" id="inlineRadioInclusive" value="inclusive" checked="checked">
                                <label class="form-check-label" for="inlineRadioInclusive">Inclusive filter</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="RadioTagFilterOption" id="inlineRadioExclusive" value="exclusive">
                                <label class="form-check-label" for="inlineRadioExclusive">Exclusive filter</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-element col-md-8">
                        <label>GIF mode:</label>
                        <br />
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="RadioGifModeOption" id="inlineRadioGifInclude" value="include" checked="checked">
                            <label class="form-check-label" for="inlineRadioGifInclude">Include</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="RadioGifModeOption" id="inlineRadioGifExclude" value="exclude">
                            <label class="form-check-label" for="inlineRadioGifExclude">Exclude</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="RadioGifModeOption" id="inlineRadioGifOnly" value="onlygifs">
                            <label class="form-check-label" for="inlineRadioGifOnly">GIFs Only</label>
                        </div>
                    </div>
                </div>

                <div class="form-element__submit">
                    <button class="btn btn-light" type="submit">Generate</button>
                </div>
            </form>
        </div>
