@using Microsoft.Extensions.Configuration

@model WebGallery.UI.ViewModels.Albums.AlbumsViewModel

@inject IConfiguration Configuration

@{
    string fileServerUrl = $"{Configuration.GetValue("ConnectionStrings:ApiEndpoint", "")}/images";
}

<main class="main-content">
    <div class="container-fluid photos">
        <div class="row align-items-stretch">
            @*
            Each image row has a witdh of "12", meaning col-lg-x must add up to 12 to fit it on one row

            data-aos="fade-up" data-aos-delay="100" provides an animation while loading the picture
            *@
            @foreach (var album in Model.Albums)
            {
                int offset = album.CoverImageIndex - 1;   // Index starts from 1
                string popUpDelayAtr = album.PopUpDelay == 0 ? "" : $"data-aos-delay={album.PopUpDelay}";
                string coverImageUri = $"{fileServerUrl}/sha/{album.CoverImageId}";

                <div class="col-6 col-md-6 col-lg-@album.LargeScreenSize" data-aos="fade-up" @popUpDelayAtr>
                    <a href="/Single/@(album.GalleryId + "?offset=" + offset)" class="d-block photo-item">
                    @if (album.CoverImageMediaType == Application.Enums.MediaType.Video)
                    {
                        <video class="img-fluid" autoplay loop muted>
                            <source src="@coverImageUri" type="video/mp4" />
                        </video>
                    }
                    else
                    {
                        <img src="@coverImageUri" alt="Image" class="img-fluid">
                    }
                        <div class="photo-text-more">
                            <div class="photo-text-more">
                                <h3 class="heading">@album.Title</h3>
                                <span class="meta">@album.ItemCount Photos</span>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>

        <div class="row justify-content-center">
            <div class="col-md-12 text-center py-5">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</main>
