@using Microsoft.Extensions.Configuration

@model WebGallery.UI.ViewModels.Bio.BioPictureViewModel

@inject IConfiguration Configuration
@{
    string imageUrl = $"{Configuration.GetValue("ConnectionStrings:ApiEndpoint", "")}/images/{Model.GlobalSortOrder}";
}

<div id="placeholder">
    <div id="BioPicture" class="row justify-content-center">
        <figure class="mb-5" data-aos="fade-up">
            <img src="@imageUrl" alt="Image" class="img-fluid" id="bioPicture">

            <div class="col-lg-11 test" data-aos="fade-left" data-aos-duration="1000">
                <ul class="tag-list" id="bioPictureTags">
                    @foreach (var tag in Model.Tags)
                    {
                        string tagStr = tag;
                        if (!tag.StartsWith('#'))
                            tagStr = "#" + tag;

                        <li class="tag-list-item">@tagStr</li>
                    }
                </ul>
            </div>
            </figure>
</div>

    <div class="row justify-content-center">
        <a href data-ajax="true" data-ajax-url="/Bio/@(Model.GlobalSortOrder - 1)" data-ajax-update="#placeholder">
            <div class="text-white img-nav"><<<  </div>
        </a>

        <div class="text-white img-nav" id="bioImgCounter">#@Model.GlobalSortOrder</div>

        <a href data-ajax="true" data-ajax-url="/Bio/@(Model.GlobalSortOrder + 1)" data-ajax-update="#placeholder">
            <div class="text-white img-nav">  >>></div>
        </a>
    </div>

</div>
