<main class="main-content">
    <div class="container-fluid photos">
        <div class="row align-items-stretch">
            <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up">
                <a href="/pics/small.mp4" class="d-block photo-item" data-fancybox="gallery" data-type="video">
                    <video class="img-fluid" autoplay loop muted>
                        <source src="/pics/small.mp4" type="video/mp4" />
                    </video>
                </a>
            </div>

            <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up">
                <a href="/pics/download.jpg" class="d-block photo-item" data-fancybox="gallery" data-type="image">
                    <img src="/pics/download.jpg" alt="Image" class="img-fluid" />
                </a>
            </div>

            <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up">
                <a href="/pics/download.jpg" class="d-block photo-item" data-fancybox="gallery" data-type="image">
                    <img src="/pics/download.jpg" alt="Image" class="img-fluid" />
                </a>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-12 text-center py-5">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</main>
